
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add an Order</title>
		<meta name="description" content="form to add a new order">
		<meta name="author" content="Bruno Correia">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
		<h1>Add an Order</h1>
		<a href="/secure/orders">Order List</a>
		</header>
		<main>

		<form action="/orders/create" enctype="multipart/form-data" method="post">
			<p>
				<label for="tableNumber">Table Number</label><br />
				<input type="number" name="tableNumber" placeholder="the table number" value="{{body.tableNumber}}">
			</p>
			<p>
				<label for="numDiners">Number of Diners</label><br />
				<input type="number" name="numDiners" placeholder="the number of diners" value="{{body.numDiners}}">
			</p>

			<p><input type="submit" value="Create"></p>
		</form>
		</main>
	</body>
</html>
